<div class="grid-container c_validacion gra_cont">
	<div class="grid-x grid-padding-x">
		<div class="small-12 medium-10 large-8 cell float-center">
			<h3>Gracias, ya estás confirmado como testigo electoral</h3>
			<p>Ahora te invitamos a que des un paso más y te inscribas para coordinar un puesto electoral. Podrás elegir que puesto electoral deseas coordinar (salvo que ya esté ocupado) y tu labor será crucial para facilitar la labor del resto de los testigos del puesto, así como para proteger el voto en la jornada clave del 17 de junio.</p>
			<p>Para esta función necesitamos contar con personas con habilidades en comunicación y organización, mediadoras, responsables, que conozcan las reglas y funciones de los testigos, o estén dispuestas a aprenderlas.</p>
			<p>Algunas de las funciones de los coordinadores de puesto son:</p>
			<ol>
				<li>Recepción y distribución de escarapelas.</li>
				<li>Llamar y coordinar a los testigos del puesto.</li>
				<li>Ser el enlace con el centro de monitoreo y la coordinación local.</li>
				<li>Atender las mesas de su puesto.</li>
				<li>Compilar los resultados.</li>
				<li>Manejar la App.</li>
			</ol>
			<p>¿Desea participar como coordinador de puesto?</p>
			<p></p>
			<div class="grid-x grid-margin-x fbot">
				<a href="<%= confirmate_coordinator_path(@user) %>" class="success button small-12 large-2 cell large-offset-4">Si</a>
        <a href="<%= confirmate_thanks_path(@user) %>" class="warning button small-12 large-2 cell">No</a>
			</div>
		</div>
	</div>
</div>
