<div class="grid-container c_validacion v_cor">
	<div class="grid-x grid-padding-x">
		<div class="small-12 medium-12 large-10 cell float-center">
			<h3>Edita tú información del puesto</h3>
			<%= render 'form', user: @user %>
		</div>
	</div>
</div>
