<div class="grid-container c_validacion gra_cont">
  <div class="grid-x grid-padding-x">
    <div class="small-12 medium-10 large-8 cell float-center">
      <h3>Gracias por apuntarte como coordinador</h3>
      <p>Vamos a evaluar tu información con la de otros voluntarios, y en breve te notificaremos.</p>
    </div>
  </div>
</div>
