<div class="statistics columns">
  <div class="item column">
    <div class="icon">
      <i class="fa fa-users"></i>
    </div>
    <div class="number">
      35222
    </div>
  </div>

  <div class="item column">
    <div class="icon">
      <i class="fa fa-users"></i>
    </div>
    <div class="number">
      35222
    </div>
  </div>

  <div class="item column">
    <div class="icon">
      <i class="fa fa-users"></i>
    </div>
    <div class="number">
      35222
    </div>
  </div>
</div>
