<div style="width: 600px;margin-left: auto;margin-right: auto;background: #f1f1f1;font-family: sans-serif;">
  <div style="height: 100px;background: #622066;">
    <img style="padding-top: 20px;margin-left: auto;margin-right: auto;display: block;" src="https://petro.com.co/wp-content/uploads/2018/02/petroblanco_tb.png" alt="Petro Presidente"/>
  </div>
  <div>
    <h1 style="padding: 0 40px 0 40px;">Hola</h1>
    <p style="padding: 0 40px 0 40px;text-align: justify;">
      Hemos realizado la reinicialización de tu contraseña, por favor para acceder a la aplicación nuevamente utiliza estas credenciales.
    </p>
    <p style="padding: 0 40px 0 40px;text-align: justify;">
      Usuario: <%= @user.email %> \n
      Contraseña: <%= @contraseña %>
    </p>
    <p style="padding:0 40px 40px 40px;text-align:justify;text-align: justify;">
      Atte: Equipo de la Colombia Humana
    </p>
  </div>
</div>
