<div id="container"></div>
<script src="https://code.highcharts.com/mapdata/countries/co/co-all.js"></script>

<script type="text/javascript">
// Prepare demo data
// Data is joined to map using value of 'hc-key' property by default.
// See API docs for 'joinBy' for more info on linking data and map.
var data = [
  <% Department.where(id: 1..33).each do |d| %>
      <%= "['#{d.map}', #{d.users.where(online: true).count}],".html_safe %>
  <% end %>
];

// Create the chart
Highcharts.mapChart('container', {
  chart: {
      map: 'countries/co/co-all'
  },

  title: {
      text: ''
  },

  mapNavigation: {
      enabled: true,
      buttonOptions: {
          verticalAlign: 'bottom'
      }
  },

  colorAxis: {
      min: 0,
      maxColor: '#622066'
  },

  series: [{
      data: data,
      name: 'Testigos',
      states: {
          hover: {
              color: '#BADA55'
          }
      }
  }]
});
</script>
