<div class="grid-x grid-padding-x">
  <div class="small-12 medium-12 large-8 cell float-center">
    <%= link_to validacion_path do %>
      <div class="test_vacio">
        <%= fa_icon "plus-square 4x", class: 'far' %>
      </div>
    <% end %>
  </div>
</div>
