<div class="grid-x grid-padding-x">
  <div class="small-12 medium-12 large-8 cell float-center">
    <h4>Hola, a continuación encontrarás las instrucciones a seguir en el sistema:</h4>
    <ol>
      <li>
        <b>Llama, verifica o modifica los datos de cada testigo en tu lista. </b>Pregunta si <b>garantizan su asistencia el 17</b> de junio y si todo es correcto acéptalos. Si no localizas a alguno, descártalo.
      </li>
      <li>
        A los testigos que verificaste, <b>avísales que recibirán un email</b> con instrucciones que deben seguir para validarse como testigos. <b>Pídeles que revisen en su bandeja de entrada o en la carpeta SPAM.</b> Cada testigo que  valide el email recibido quedará listo para ser inscrito en registraduría al cabo de unos días.
      </li>
      <li>
        <b>Crea un canal de Whatsapp sólo para los testigos confirmados, </b>permitirá que tengas una comunicación más ágil y que puedas entregarles  materiales de la campaña.
      </li>
      <li>
        No olvides <b>ayudarles a instalar, actualizar y enseñar a utilizar la APP</b> a todos los testigos, para que puedan participar en los simulacros.  Recuérdales <b>que miren las notificaciones</b> que enviaremos directamente por la app.
      </li>
      <li>
        Si conoces a alguien de confianza que desees que esté en tu puesto como testigo cárgalo a través de <a href="https://petro.com.co/ingreso-testigos/">https://petro.com.co/ingreso-testigos/</a>
      </li>
    </ol>
  </div>
</div>
