<div class="grid-x grid-padding-x">
  <div class="small-12 medium-12 large-8 cell float-center">
    <h4>Hola, a continuación encontrarás las instrucciones a seguir en el sistema:</h4>
    <ol>
      <li><span>Elige un testigo y llámalo, revisa y actualiza sus datos, pregunta si garantiza su asistencia el 17 de junio y si todo es correcto haz click en <b>verificar</b>. Si no le localizas haz click en <b>siguiente</b>. Si es un número incorrecto y no hay forma de localizar al testigo haz click en <b>descartar</b>.</span></li>
      <li><span>Si lo has verificado avísale que le ha llegado un email con instrucciones que debe seguir (sólo si las sigue se validará como testigo). Pídele que revise su bandeja de entrada y si no lo encuentra que revise la carpeta <b>SPAM</b>.</span></li>
    </ol>
    <p>Si el testigo valida el email que ha recibido ya quedará listo para ser inscrito en registraduría al cabo de unos días. Recuerda crear un canal de WhatsApp sólo para los testigos que ya hayas confirmado, esto permitirá que tengan una comunicación más ágil y que puedas entregarles materiales de la campaña.</p>
    <p>No olvides ayudarle a instalarse, actualizar y enseñar a utilizar la APP a todos los testigos, para que puedan participar en los simulacros. Recuérdales que miren las notificaciones que le enviaremos directamente por la app.</p>
    <p>Si conoces a alguien de confianza que desees que esté en tu puesto como testigo cárgalo a través de nuestro <a class="a_boton" href="https://petro.com.co/ingreso-testigos">registro</a> de testigos electorales.</p>
  </div>
</div>
