<div class="grid-container cuerpo">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <img class="float-center img_404" src="https://petro.com.co/wp-content/uploads/2018/05/404.png" alt="404">
    </div>
    <div class="small-12 medium-8 large-8 cell float-center">
      <h4>La página que buscas no existe, por favor revisa el instructivo del simulacro en el siguiente enlace</h4>
      <a class="b_base" href="https://petro.com.co/simulacro">Simulacro</a>
    </div>
  </div>
</div>
