<table align="center" class="container float-center">
  <tbody>
    <tr>
      <td>
        <br>
        <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-12 columns first last">
                <table>
                  <tr>
                    <th class="cuerpo">
                      <h4 class="titulo">Hola <%= @coordinador.name %>, hemos verificado tus datos para ser testigo coordinador.</h4>
                      <p>Ya puedes acceder a la información de los testigos de tu puesto para verificarlos en: <a href="https://coordinadores.petro.com.co/">https://coordinadores.petro.com.co/</a></p>
                      <p>Usuario: <%= @coordinador.email %></p>
                      <p>Contraseña: <%= @password %></p>
                      <p><b>Pasos a seguir:</b></p>
                      <ol>
                        <li>
                          <b>Llama, verifica o modifica los datos de cada testigo en tu lista. </b>Pregunta si <b>garantizan su asistencia el 17</b> de junio y si todo es correcto acéptalos. Si no localizas a alguno, descártalo.
                        </li>
                        <li>
                          A los testigos que verificaste, <b>avísales que recibirán un email</b> con instrucciones que deben seguir para validarse como testigos. <b>Pídeles que revisen en su bandeja de entrada o en la carpeta SPAM.</b> Cada testigo que  valide el email recibido quedará listo para ser inscrito en registraduría al cabo de unos días.
                        </li>
                        <li>
                          <b>Crea un canal de Whatsapp sólo para los testigos confirmados, </b>permitirá que tengas una comunicación más ágil y que puedas entregarles  materiales de la campaña.
                        </li>
                        <li>
                          No olvides <b>ayudarles a instalar, actualizar y enseñar a utilizar la APP</b> a todos los testigos, para que puedan participar en los simulacros.  Recuérdales <b>que miren las notificaciones</b> que enviaremos directamente por la app.
                        </li>
                        <li>
                          Si conoces a alguien de confianza que desees que esté en tu puesto como testigo cárgalo a través de <a href="https://petro.com.co/ingreso-testigos/">https://petro.com.co/ingreso-testigos/</a>
                        </li>
                      </ol>
                      <p>En breve  pondremos a tu disposición distintos materiales de la campaña para la formación de los testigos, así como información para que puedas ejecutar correctamente tu labor de Testigo Coordinador.</p>
                      <p>Muchas gracias por tu atención.</p>
                      <a href="https://twitter.com/intent/tweet?hashtags=PetroPresidente&original_referer=https%3A%2F%2Fpetro.com.co%2Fingreso-testigos%2F&ref_src=twsrc%5Etfw&related=colombiahumana_%2CMovimientoMAIS&text=Yo%20soy%20testigo%20electoral%20y%20custodio%20de%20la%20esperanza%20de%20la%20Colombia%20Humana.%20Tu%20tambi%C3%A9n%20puedes%20ser%20parte%20del%20cambio%2C%20inscr%C3%ADbete%3A%20&url=https%3A%2F%2Fpetro.com.co%2Fingreso-testigos%2F&via=petrogustavo"><h5 class="firma">#PetroPresidente</h5></a>
                    </th>
                    <img src="https://www.google-analytics.com/collect?v=1&t=event&tid=UA-113384581-1&cid=12345678.12345678&dh=mail.petro.com.co&ec=email&ea=open&el=validacion_coordinadores"/>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>
        <center data-parsed="" class="pie">
          <table align="center" class="menu float-center">
            <tr>
              <td>
                <table>
                  <tr>
                    <th class="menu-item float-center">
                      <a class="enlace-foo" href="https://petro.com.co">petro.com.co</a>
                    </th>
                    <th class="menu-item float-center">
                      <a class="enlace-foo" href="https://petro.com.co/politica-de-datos/">política de datos</a>
                    </th>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </tbody>
</table>
