// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-bar{
  background-color: #622066;
  padding: 20px 0;
}
.top-bar img{
  width: 160px;
}
.grid-x p{
  padding-top: 20px;
}
.img_404{
  width: 500px;
  margin-top: 6%;
}
.cuerpo h4{
  letter-spacing: 1.5px;
  margin-top: 6%;
  text-align: center;
}
.b_base{
  display: block;
  width: 300px;
  background: #622066;
  color: #fff !important;
  border-radius: 5px;
  padding: 20px 0;
  text-align: center;
  margin: 30px auto;
  box-shadow:  0 2px 3px #bfbfbf;
  font-weight: 600;
  font-size: 24px;
}
