// Place all the styles related to the Register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
*{
  font-family: 'Lato', sans-serif;
}
#formulario{
  .error{
    padding: 0;
    color: #D54C4C;
  }
  ol{
    list-style: none;
    margin: 0;
    label{
      color: #6d356f;
      background: none;
      padding: 0;
      font-weight: bold;
    }
  }
}
.cuerpo{
  h3{
    margin-top: 6%;
    text-align: center;
    font-weight: 800;

  }
  p{
    margin-bottom: 0;
  }
}
.cajas {
  display: block;
  position: relative;
  float: left;
  margin-top: 30px;
  position: relative;
  line-height: 100px;
  background: #fff;
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  padding: 20px;
  padding-bottom: 10px;
  border-top: 0;
  margin-bottom: 30px;
  a{
    color: #622066;
  }
  h5{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.cajas:after {
  background: linear-gradient(to right, #622066 10%, #663090 10%, #663090 20%, #7d45a9 20%, #7d45a9 30%, #8e54ba 30%);
  position: absolute;
  border-radius: 3px 3px 0px 0px;
  content: '';
  height: 8px;
  right: 0;
  left: 0;
  top: 0;
}
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
