<div class="grid-container cuerpo">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-8 large-6 float-center">
      <h3>Revisa tu correo electrónico para completar la inscripción</h3>
      <p>
        Muchas gracias por inscribirte como testigo electoral. Gracias por tu apoyo y compromiso, que permitirá alcanzar la justicia social en una Colombia Humana.
      </p>
      <div class="cajas small-12 cell float-center">
        <h5>Revisa tu carpeta SPAM</h5>
        <p>
          Si encuentras nuestro correo en tu carpeta SPAM, por favor cámbialo a tu bandeja de entrada y agrega nuestra dirección a tu lista de contactos, de esta forma garantizas la recepción de los siguientes correos de la Colombia Humana.
        </p>
      </div>
      <p>
        Debes descargar la aplicación en los siguientes enlaces de las tiendas oficiales de Google Play o App Store:
      </p>
      <div class="grid-x grid-padding-x grid-padding-y">
        <a class="cell small-6 medium-6" href="https://play.google.com/store/apps/details?id=petro.presidencia.votacion"><img class="botones" alt="Play Store" src="https://petro.com.co/wp-content/uploads/2018/05/play_store.png"></a>
        <a class="cell small-6 medium-6" href="https://itunes.apple.com/co/app/testigos-colombia-humana/id1380254731?mt=8"><img class="botones" alt="App Store" src="https://petro.com.co/wp-content/uploads/2018/05/app_store.png"></a>
      </div>
    </div>
  </div>
</div>
