<div class="cabecera grid-container">
  <h2>Mesa 32</h2>
  <h5>Puesto Nro. 360, Corferias</h5>
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell fm_dt">
      <p><b>Testigo: </b>Mijail Rondón</p>
      <p><b>Teléfono: </b>(307) 305-7865</p>
    </div>
    <div class="medium-6 cell fm_dm">
      <p><b>Departamento: </b>Antioquia</p>
      <p><b>Mesa de muestreo: </b>207</p>
    </div>
  </div>
</div>
