<div class="small-12 medium-12 large-10 cell float-center">
  <h4>Proyecciones <small><%=  %></small></h4>
  <% if flash[:notice] %>
    <%= render 'callout' %>
  <% end %>
  <%= render 'proyeccion_table' %>
</div>
